body {
    font-family: Monospace;
		position: absolute;
    background-color: #000;
    color: #000;
    margin: 0px;
    overflow: hidden;
		display: block;
    /* fix necessary to remove space at bottom of canvas */
}

#info {
    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: underline;
    cursor: pointer;
}
canvas {
    font-family: Monospace;
		position: absolute;
    margin: 0px;
    overflow: hidden;
		display: block;
    /* fix necessary to remove space at bottom of canvas */
}
